$margin: 10px;
$padding: 10px;

@import '~bootstrap/scss/bootstrap.scss';

div[role='tabpanel'] {
  padding: $padding;
}

#ap, #sta, #pwm {
  .card-body {
    padding: .5rem;
    > p {
      margin-bottom: .5rem;
    }
  }

  div.action {
    text-align: right;
    button {
      margin-left: $margin;
    }
  }

  .card + .card {
    margin-top: $margin;
  }
}
